<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polls</title>

  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

  <!-- Spectre CSS -->
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

  <style>
    * {
      font-family: 'Caveat', cursive !important;
    }
  </style>
</head>
<body>
  <h1>Hello World</h1>
  <h3>Welcome to polls APP</h3>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident fugit iusto magni temporibus
    quasi. Nemo repellendus quae inventore esse cum! Repellendus corporis perferendis dignissimos
     sunt perspiciatis quo deserunt aliquam natus?
  </p>
  <button class="btn btn-primary">Get Started</button>
</body>
</html>
